.bor {
  border: 1px solid black;
}

.logoImage {
  height: 5rem;
}

.logoText {
  color: rgb(47, 139, 201);
}

.aside_text {
  color: black;
}

.pageHeading {
  color: darkcyan;
  font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: darkcyan;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 red #fff ;
}

.Tabs_text{
  font-size: medium;
}

.nav-link{
  color: black;
  font-size: large;
}

.sub-sidebar{
  color: black;
  font-size: large;
}

.search_button {
  position: absolute;
  top: 12px;
  right: 9rem;
}

.acitveTableText {
  border-radius: 1rem;
  background-color: green;
  font-weight: bold;
}

.dustbin {
  padding-left: 5rem;
}

@media (min-width: 992px) {
  .loginLeftSide {
    height: 100vh;
    background: url("../images/dominos_background.jpg") no-repeat center center;
    background-size: cover;
  }

  .DashBoardlogoImage {
    height: 4rem;
  }

  .loginRightSide {
    background-color: rgb(178, 224, 238);
  }

  form i {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .addUserForm {
    position: absolute;
    right:1rem;
  }


  form i img {
    position: absolute;
    top: 0rem;
    right: 0rem;
  }
}

/* .editDeleteIcon{
  display: none;
} */

div .editDeleteIcon:hover{
  display: block;
}



@media (max-width: 991px) {
  .loginRightSide {
    position: relative;
    z-index: 1;
  }

  .DashBoardlogoImage{
    height: 4rem;
  }

  .addUserForm {
    position: absolute;
    right:2rem;
    top: 25px;
  }

  .loginRightSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5rem;
    width: 100%;
    height: 100vh;
    background: url("../images/dominos_background.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }

  .aside_text,
  .logoText {
    display: none;
  }

  .loginRightSide * {
    position: relative;
    z-index: 2;
    opacity: 1;
  }

  .form-group i {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  input {
    border: 1px solid black;
  }
}

.forgotPasswordText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.forgotPasswordBackLinkText {
  text-decoration: none;
}


input.inputClass:focus {
  box-shadow: none;
}

select.inputClass:focus {
  box-shadow: none;
}

.forgotPasswordText{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forgotPasswordBackLinkText{
  text-decoration: none;
}


.input-file {
  display: none;
}
.labelfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}

.form-floating>label {
  position: absolute;
  top: 0;
  left: 0.5rem;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 30px 0px;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.MainContent{
  background-color: #f5f2f2;
}


.form-floating>.borderLabel{
  position: absolute;
  top: 0;
  left: 0.5rem;
  height: 100%;
  font-weight: bold;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 20px -110px;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-floating>input:focus{
  box-shadow: none;
}

.pencilSymbol, .pencilSymbol:hover{
  text-decoration: none;
  color: black;
}


.row > .nav-link:focus, .nav-link:hover, .nav-link.active {
  color: darkcyan;
}

.row > .nav-link:focus, .nav-link:hover, .nav-link.active , .rrr {
  display: block;
}



.row > .nav-link:hover > .poenn{
  color: red;
}

.nav-link{
  border: 2px solid white;
  background-color: white;
}

.sub-sidebar{
  border-right:2px solid darkcyan ;
}

.subMenu:active{
  background-color: red;
}


.triala:hover > .editDeleteIcon{
  display: none;
}

